body {
    font-family: monospace;
    background-color: #f8f9fa;
    color: #343a40;
}
.navbar {
    background-color: #343a40;
    color: #fff;
}
.jumbotron {
    background-color: #343a40;
    color: #fff;
}
.footer {
    background-color: #343a40;
    color: #fff;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}
.site-title {
    opacity: 0;
    animation: fadeIn 2s forwards;
}
.divider {
    border-top: 2px solid black;
    margin-top: 20px; /* Регулируйте отступ сверху по вашему усмотрению */
    margin-bottom: 20px; /* Регулируйте отступ снизу по вашему усмотрению */
}
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}