<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
    <title>Project1</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark">
        <a class="navbar-brand" href="#">
            <span class="site-title">Project1</span>
        </a>
    </nav>
    <div class="container mt-5">
        <h1 class="display-4">Добро пожаловать на Project1!</h1>
        {% if message %}
            <p>{{ message }}</p>
        {% endif %}
        {% for item in data %}
            <div class="card mt-3">
                <div class="card-body">
                    <h5 class="card-title">{{ item.product_name }}</h5>
                    <p class="card-text">Старая цена: {{ item.old_price }}</p>
                    <p class="card-text">Скидка: {{ item.discount_value }}</p>
                    <p class="card-text">Новая цена: {{ item.current_price }}</p>
                </div>
            </div>
        {% endfor %}
    </div>
    <div class="divider"></div>
    <div class="container mt-5">
        <form method="post" action="{{ url_for('calculate') }}">
            <div class="form-group">
                <button type="button" onclick="addFields()">Добавить поля</button>
            </div>

            <div id="fields"></div>

            <div class="form-group">
                <button type="submit">Подсчитать</button>
            </div>
        </form>

        {% if result %}
            <div class="result">
                <p>Сумма чисел: {{ result['sum'] }}</p>
                <p>Текстовые поля: {{ result['texts'] }}</p>
            </div>
        {% endif %}
    </div>
    <div class="footer">
        <p>&copy; 2023 Project1</p>
    </div>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

    <script>
        function addFields() {
            var container = document.getElementById("fields");
            var textInput = document.createElement("input");
            textInput.type = "text";
            textInput.name = "texts[]";
            textInput.placeholder = "Текст";

            var numberInput = document.createElement("input");
            numberInput.type = "number";
            numberInput.name = "numbers[]";
            numberInput.placeholder = "Число";

            container.appendChild(textInput);
            container.appendChild(numberInput);
        }
    </script>

</body>
</html>